/* Container */
.aboutcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.aboutcontainer .stats-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  height: 300px;
}

.aboutcontainer .stat-box {
  border-radius: 10px;
  text-align: center;
}

.aboutcontainer .scalevalues {
  animation: rotateEffect 0.5ms forwards;
  -webkit-animation: rotateEffect 0.5s forwards;
}

.aboutcontainer .stat-value {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff;
}

.aboutcontainer .stat-title {
  font-size: 0.8rem;
  color: #555;
}

@keyframes rotateEffect {
  from {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
  }
  to {
    transform: scale(1.8);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -o-transform: scale(1.8);
  }
}


.aboutcontainer .logos-wrapper {
  width: 100%;
  overflow: hidden;
  padding: 20px;
  margin: 50px 0px;
  display: flex;
  justify-content: center;
}



.aboutcontainer .logos-container {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  animation: scroll-right-to-left 40s linear infinite;
}

@keyframes scroll-right-to-left {
  0% {
    transform: translateX(100%); 
  }
  100% {
    transform: translateX(-100%); 
  }
}

.aboutcontainer .logos-container::before {
  content: attr(data-logo-duplicate);
}


.aboutcontainer .company-logo {
  width: 150px;
  height: 90px;
  object-fit: contain;
  margin: 0 15px;
  transition: transform 0.3s ease-in-out;
}

.aboutcontainer .company-logo:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 992px) {
  .aboutcontainer .stat-box {
    width: 38% !important;
  }
  .aboutcontainer .logos-wrapper {
    margin: 0px !important;
  }
}

@media screen and (max-width: 576px) {
  .aboutcontainer .logos-wrapper {
    margin: 0px !important;
  }
  .aboutcontainer .stat-box {
    width: 35% !important;

  }

  .aboutcontainer .stat-value {
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff;
  }

  .aboutcontainer .stat-title {
    font-size: 0.6rem;
    color: #555;
  }

  .aboutcontainer .company-logo {
    margin: 0px !important;
  }
}

@media screen and (max-width: 400px) {
  .aboutcontainer .company-logo {
    margin: 0px !important;
  }

  .aboutcontainer .logos-wrapper {
    margin: 0px !important;
  }
  .aboutcontainer .stat-box {
    width: 35% !important;

  }

  .aboutcontainer .stat-value {
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff;
  }

  .aboutcontainer .stat-title {
    font-size: 0.6rem;
    color: #555;
  }
}

.edit-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px); 
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 400px;
}

.logo-edit-container {
  position: relative; 
  display: inline-block;
}

.edit-iconLogo {
  position: absolute;
  top: 3px; 
  right: 45px; 
  background-color:#1995AD;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  padding: 4px;
}

.add-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  cursor: pointer;
}

.add-logo-icon {
  font-size: 2rem;
}

.save-icon, .cancel-icon {
  margin: 10px;
  cursor: pointer;
}

.company-logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin: 10px;
  position: relative;
}
